In [1]:
import pandas as pd
import numpy as np

In [2]:
import pprint
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [9]:
df = pd.read_csv('spam.csv', encoding='latin-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [10]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [14]:
#checking the count of dependent variable
a=df['v1'].value_counts()
print(a)

v1
ham     4825
spam     747
Name: count, dtype: int64

In [16]:
#library that contain punctuation:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [25]:
#defining the function for removing punctuationo:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [27]:
#storing the punctuationfree text:
df['clean_msg']= df['v2'].apply(lambda x:remove_punctuation(x))
df.head()
print(df)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4                                          clean_msg
0           NaN        NaN  Go until jurong point crazy Available only in ...
1           NaN        NaN                            Ok lar Joking wif u oni
2           NaN        NaN  Free entry in 2 a wkly comp to win FA Cup fina...
3           NaN        NaN        U dun say so early hor U c already then say
4           NaN        NaN  Nah I dont think he goes to usf he lives aroun...
...         ...        ...                                                ...
5567        NaN        NaN  This is the 2nd time we have tried 2 contact u...
5568        NaN        NaN                Will Ì b going to esplanade fr home
5569        NaN        NaN  Pity  was in mood for that Soany other suggest...
5570        NaN        NaN  The guy did some bitching but I acted like id ...
5571        NaN        NaN                          Rofl Its true to its name

[5572 rows x 6 columns]

In [37]:
#All the text of clean message column is converted into lowercase and store it
df['mess_lower']=df['clean_msg'].apply(lambda x:x.lower())
print(df)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4                                          clean_msg  \
0           NaN        NaN  Go until jurong point crazy Available only in ...
1           NaN        NaN                            Ok lar Joking wif u oni
2           NaN        NaN  Free entry in 2 a wkly comp to win FA Cup fina...
3           NaN        NaN        U dun say so early hor U c already then say
4           NaN        NaN  Nah I dont think he goes to usf he lives aroun...
...         ...        ...                                                ...
5567        NaN        NaN  This is the 2nd time we have tried 2 contact u...
5568        NaN        NaN                Will Ì b going to esplanade fr home
5569        NaN        NaN  Pity  was in mood for that Soany other suggest...
5570        NaN        NaN  The guy did some bitching but I acted like id ...
5571        NaN        NaN                          Rofl Its true to its name

                                             mess_lower
0     go until jurong point crazy available only in ...
1                               ok lar joking wif u oni
2     free entry in 2 a wkly comp to win fa cup fina...
3           u dun say so early hor u c already then say
4     nah i dont think he goes to usf he lives aroun...
...                                                 ...
5567  this is the 2nd time we have tried 2 contact u...
5568                will ì b going to esplanade fr home
5569  pity  was in mood for that soany other suggest...
5570  the guy did some bitching but i acted like id ...
5571                          rofl its true to its name

[5572 rows x 7 columns]

In [38]:
#text is split into smaller units:
import re      #relationextraction
def tokenization(text):
    tokens=re.split('w+',text)
    return tokens

In [41]:
#appplying function to t he column:
df['msg_tokenied']=df['mess_lower'].apply(lambda x:tokenization(x))
print(df)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4                                          clean_msg  \
0           NaN        NaN  Go until jurong point crazy Available only in ...
1           NaN        NaN                            Ok lar Joking wif u oni
2           NaN        NaN  Free entry in 2 a wkly comp to win FA Cup fina...
3           NaN        NaN        U dun say so early hor U c already then say
4           NaN        NaN  Nah I dont think he goes to usf he lives aroun...
...         ...        ...                                                ...
5567        NaN        NaN  This is the 2nd time we have tried 2 contact u...
5568        NaN        NaN                Will Ì b going to esplanade fr home
5569        NaN        NaN  Pity  was in mood for that Soany other suggest...
5570        NaN        NaN  The guy did some bitching but I acted like id ...
5571        NaN        NaN                          Rofl Its true to its name

                                             mess_lower  \
0     go until jurong point crazy available only in ...
1                               ok lar joking wif u oni
2     free entry in 2 a wkly comp to win fa cup fina...
3           u dun say so early hor u c already then say
4     nah i dont think he goes to usf he lives aroun...
...                                                 ...
5567  this is the 2nd time we have tried 2 contact u...
5568                will ì b going to esplanade fr home
5569  pity  was in mood for that soany other suggest...
5570  the guy did some bitching but i acted like id ...
5571                          rofl its true to its name

                                           msg_tokenied
0     [go until jurong point crazy available only in...
1                            [ok lar joking , if u oni]
2     [free entry in 2 a , kly comp to , in fa cup f...
3         [u dun say so early hor u c already then say]
4     [nah i dont think he goes to usf he lives arou...
...                                                 ...
5567  [this is the 2nd time , e have tried 2 contact...
5568             [, ill ì b going to esplanade fr home]
5569  [pity  , as in mood for that soany other sugge...
5570  [the guy did some bitching but i acted like id...
5571                        [rofl its true to its name]

[5572 rows x 8 columns]

In [47]:
#stop words present in library:
stopwords=nltk.corpus.stopwords.words('english')
stopwords[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [45]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [50]:
#definig the function to remove stopwords from tokenized text:
def remove_stopwords(text):
    output=[i for i in text if i not in stopwords]
    return output

In [51]:
#applying function:
df['no_stopwords']=df['msg_tokenizezd']